Data2/taxinfo/2007/taxinfo2007.csv filter=lfs diff=lfs merge=lfs -text
Data2/taxinfo/2009/taxinfo2009.csv filter=lfs diff=lfs merge=lfs -text
Data2/taxinfo/2010/taxinfo2010.csv filter=lfs diff=lfs merge=lfs -text
Data2/taxinfo/2011/taxinfo2011.csv filter=lfs diff=lfs merge=lfs -text
Data2/taxinfo/2012/taxinfo2012.csv filter=lfs diff=lfs merge=lfs -text
Data2/taxinfo/2013/taxinfo2013.csv filter=lfs diff=lfs merge=lfs -text
Data2/taxinfo/2014/taxinfo2014.csv filter=lfs diff=lfs merge=lfs -text
Data2/taxinfo/2015/taxinfo2015.csv filter=lfs diff=lfs merge=lfs -text
Data2/taxinfo/2008/taxinfo2008.txt filter=lfs diff=lfs merge=lfs -text
streetcarbuffer_parcels/gis_shape_files/CENTER_PARCELS.dbf filter=lfs diff=lfs merge=lfs -text
streetcarbuffer_parcels/gis_shape_files/CORE_PARCELS.dbf filter=lfs diff=lfs merge=lfs -text
streetcarbuffer_parcels/gis_shape_files/EDGE_PARCELS.dbf filter=lfs diff=lfs merge=lfs -text
streetcarbuffer_parcels/gis_shape_files/CENTER_PARCELS.shp filter=lfs diff=lfs merge=lfs -text
streetcarbuffer_parcels/gis_shape_files/CORE_PARCELS.shp filter=lfs diff=lfs merge=lfs -text
streetcarbuffer_parcels/gis_shape_files/EDGE_PARCELS.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/Address.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/HamCo_Benchmarks.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/Misc_Structure.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/Section_Corners.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/building.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/cc[[:space:]]neighbndy.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-final.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-final2.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-point.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-test.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-test2.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/cincinnati_benchmarks.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/cintzone.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/civilbnd.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/condoatt.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/driveway.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/hcbp.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/hcsubdiv.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/parcpoly.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/parking.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/parks.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/pavement.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/railroad.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/rzczone.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/sidewalk.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/snabnd.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/streetcl.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/Address.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/HamCo_Benchmarks.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/Misc_Structure.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/Section_Corners.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/building.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/cc[[:space:]]neighbndy.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-final.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-final2.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-point.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-test.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/center-test2.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/cincinnati_benchmarks.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/cintzone.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/civilbnd.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/condoatt.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/driveway.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/hcbp.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/hcsubdiv.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/parcpoly.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/parking.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/parks.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/pavement.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/railroad.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/rzczone.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/sidewalk.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/snabnd.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/streetcl.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/cc[[:space:]]neighbndy.shp filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/cc[[:space:]]neighbndy.dbf filter=lfs diff=lfs merge=lfs -text
CagisOpenDataQuarterly/cc[[:space:]]neighbndy.shp filter=lfs diff=lfs merge=lfs -text
